.SkipToContent {
  /* Reset <a> default styles */
  text-decoration: none;
  /* Custom styles */
  display: flex;
  position: absolute;
  top: -50px;
  left: 0%;
  width: 100%;
  justify-content: center;
  padding: var(--padding-m);
}

.SkipToContent:focus {
  /* Transition */
  top: 0;
  transition: top 0.2s ease-in-out;
  /* styles */
  color: var(--fg-accent);
  background-color: var(--bg-accent-hovered);
  font-variation-settings: var(--fontvariation-body-strong);
}
