.ProductCard {
  /* Reset <li> styles */
  list-style-type: none;
  /* Custom styles */
  position: relative;
  border: var(--border) var(--bg-subtle);
  border-radius: var(--border-radius);
  overflow: hidden;
  background-color: var(--bg-normal);
  max-width: 400px;
}

.ProductCard img {
  position: relative;
  aspect-ratio: 1/1;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 0% 0%;
}

.ProductCard__textWrapper {
  padding: var(--padding-m);
  min-height: 184px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ProductCard__textWrapper h2 {
  font-variation-settings: var(--fontvariation-headline);
  font-size: var(--fontsize-headline-s);
  line-height: var(--lineheight-headline);
  margin-bottom: var(--padding-s);
}

.ProductCard__description {
  color: var(--fg-subtle);
  font-size: var(--fontsize-body-s);
  /* Truncate text */
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ProductCard__price {
  font-variation-settings: var(--fontvariation-body-strong);
  justify-self: flex-end;
}

.ProductCard__link {
  /* Remove default outline, as a box-shadow is shown around `.ProductCard` instead */
  outline: 0;
  /* Remove link default styles, as link is the entire card */
  text-decoration: none;
  color: var(--fg-normal);
}

/* INTERACTIONS */

.ProductCard__link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.ProductCard:focus-within,
.ProductCard:hover,
.ProductCard:focus {
  border: var(--border) var(--fg-normal);
}
