.FilterTag {
  font-size: var(--fontsize-body-s);
  position: relative;
  border: var(--border) var(--bg-subtle);
  border-radius: 1000px;
  padding: var(--padding-s) var(--padding-m);
  width: fit-content;
  /* Align and vertically center pill content */
  display: flex;
  align-items: center;
  gap: var(--padding-s);
}
.FilterTag,
.FilterTag * {
  cursor: pointer;
}

/* Hide default <input> box */
.FilterTag__input {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.FilterTag__iconWrapper svg {
  height: var(--iconsize-s);
  width: var(--iconsize-s);
  /* center icon in circle */
  display: flex;
  align-items: center;
}

/* 
  INTERACTIONS
*/

/* If pill is checked */
.FilterTag.checked {
  background-color: var(--bg-strong);
  border-color: var(--bg-strong);
}
.FilterTag.checked * {
  color: var(--fg-strong);
}
.FilterTag.checked .FilterTag__iconWrapper {
  display: inline-block;
}

/* Simulate default outline */
/* TODO: backup if :focus-within is not supported */
.FilterTag:focus-within {
  outline: var(--outline);
  outline-offset: var(--outline-offset);
}

.FilterTag:focus-within,
.FilterTag:hover,
.FilterTag:focus {
  border: var(--border) var(--fg-accent);
  background-color: var(--bg-accent-hovered);
}
.FilterTag:hover *,
.FilterTag:focus *,
.FilterTag:focus-within * {
  color: var(--fg-accent);
}
