.Filter {
  font-size: var(--fontsize-body-s);
  position: relative;
  border: var(--border) var(--bg-subtle);
  border-radius: 1000px;
  padding: var(--padding-s) var(--padding-m);
  width: fit-content;
  /* Align and vertically center pill content */
  display: flex;
  align-items: center;
  gap: var(--padding-s);
}
.Filter,
.Filter * {
  cursor: pointer;
}

/* Hide default <input> box */
.Filter_input {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Filter_iconWrapper svg {
  height: var(--iconsize-s);
  width: var(--iconsize-s);
  /* center icon in circle */
  display: flex;
  align-items: center;
}

/* 
  INTERACTIONS
*/

/* If pill is checked */
.Filter.checked {
  background-color: var(--bg-strong);
  border-color: var(--bg-strong);
}
.Filter.checked * {
  color: var(--fg-strong);
}
.Filter.checked .Filter_iconWrapper {
  display: inline-block;
}

/* Simulate default outline */
/* TODO: backup if :focus-within is not supported */
.Filter:focus-within {
  outline: var(--outline);
  outline-offset: var(--outline-offset);
}

.Filter:focus-within,
.Filter:hover,
.Filter:focus {
  border: var(--border) var(--fg-accent);
  background-color: var(--bg-accent-hovered);
}
.Filter:hover *,
.Filter:focus *,
.Filter:focus-within * {
  color: var(--fg-accent);
}
