.CartItem {
  /* Reset <li> styles */
  list-style-type: none;
  /* Custom styles */
  display: flex;
  gap: var(--spacing-l);
  padding: var(--padding-m);
  border: var(--border) var(--bg-subtle);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.CartItem__imageWrapper {
  position: relative;
  height: fit-content;
}
.CartItem__imageWrapper img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.CartItem__textWrapper {
  display: flex;
  gap: 0 var(--spacing-l);
  flex-wrap: wrap;
}
.CartItem__nameAndDescription > * {
  margin-bottom: var(--spacing-m);
}
.CartItem__link {
  color: var(--fg-color);
  font-size: var(--fontsize-headline-s);
  line-height: var(--lineheight-headline);
}
.CartItem__description {
  color: var(--fg-subtle);
  font-size: var(--fontsize-body-s);
}
.CartItem__price {
  font-variation-settings: var(--fontvariation-body-strong);
}

@media only screen and (width > 480px) {
  .CartItem__textWrapper {
    flex-wrap: nowrap;
  }
}
