/* 
  Note: make sure comments follow storybook-design-tokens conventions
  https://github.com/UX-and-I/storybook-design-token
*/

/*
  DESIGN TOKENS
*/

:root {
  /**
  * @tokens Colors
  * @presenter Color
  */
  --bg-normal: white;
  --fg-normal: hsl(212, 22%, 12%);
  --bg-strong: hsl(212, 22%, 12%);
  --fg-strong: white;
  --bg-subtle: hsl(0deg, 0%, 86%);
  --fg-subtle: hsl(0deg, 0%, 35%);
  --bg-accent: hsl(208, 100%, 83%);
  --bg-accent-hovered: hsl(208, 100%, 70%);
  --bg-accent-pressed: hsl(205, 69%, 53%);
  --fg-accent: hsl(212, 22%, 12%);
  --bg-success: hsl(141, 100%, 93%);
  --fg-success: hsl(141, 100%, 13%);
  --bg-danger: pink;
  --fg-danger: darkred;

  /**
  * @tokens Spacings
  * @presenter Spacing
  */
  --spacing-xs: 4px;
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --section-gap: 48px;

  /**
  * @tokens Paddings
  * @presenter Spacing
  */
  --padding-s: 0.5rem;
  --padding-m: 1rem;
  --padding-l: 1.5rem;
  --padding-xl: 2rem;

  /**
  * @tokens Border radius
  * @presenter BorderRadius
  */
  --border-radius: 16px;
  --border-radius-s: 4px;

  /**
  * @tokens Borders
  * @presenter Border
  */
  --border: 2px solid;

  /**
  * @tokens Font sizes
  * @presenter FontSize
  */
  --fontsize-display: 4rem;
  --fontsize-headline-l: 2rem;
  --fontsize-headline-m: 1.5rem;
  --fontsize-headline-s: 1.125rem;
  --lineheight-headline: 1.2;
  --fontsize-body-m: 1rem;
  --fontsize-body-s: 0.875rem;
  --fontsize-compact: 0.8rem;

  /**
  * @tokens Line heights
  * @presenter LineHeight
  */
  --lineheight-body: 1.4;
  --lineheight-compact: 1.2;

  /**
  * @tokens Font weights
  * @presenter FontWeight
  */
  --fontweight-bold: 700;
  --fontweight-regular: 400;
  --fontweight-light: 300;

  /**
  * @tokens Font families
  * @presenter FontFamily
  */
  --fontstack-default: Inter, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
    Arial, Roboto, sans-serif;
  --fontstack-code: "Courier New", Courier, monospace;
  --fontvariation-headline: "wght" 700;
  --fontvariation-body: "wght" 400;
  --fontvariation-body-strong: "wght" 700;

  /**
  * @tokens Icon sizes
  * @presenter Spacing
  */
  --iconsize-m: 24px;
  --iconsize-s: 16px;

  /**
  * @tokens Outlines shadow
  * @presenter Shadow
  */
  --boxshadow-as-outline: 0px 0px 5px 5px rgb(94, 158, 214);
  /**
  * @tokens Outlines
  */
  --outline: 5px auto rgb(94, 158, 214);
  --outline-offset: 2px;
  /**
  * @tokens-end
  */
}

/* 
  BASE STYLES
*/

html {
  font-size: 16px;
  font-family: var(--fontstack-default);
  font-variation-settings: var(--fontvariation-body);
  font-stretch: normal;
  color: var(--fg-normal);
  background-color: var(--bg-normal);
}

body {
  position: relative; /* so that skip to content button is correctly displayed */
  line-height: var(--lineheight-body);
}

h1,
h2,
h3 {
  font-variation-settings: var(--fontvariation-headline);
  line-height: var(--lineheight-headline);
}
h1 {
  font-size: var(--fontsize-headline-l);
}
h2 {
  font-size: var(--fontsize-headline-m);
}
h3 {
  font-size: var(--fontsize-headline-s);
}

/* 
  UTILS
*/

/* ACCESSIBILITY */
/* Util to visually hide an element, but read by screen reader. Source: https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
