.IconButton {
  /* if <button>, reset styles */
  border: 0;
  background-color: transparent;
  cursor: pointer;
  /* if <a>, reset styles */
  color: var(--fg-normal);
  text-decoration: none;
  /* custom styles */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  height: fit-content;
  /* hide default outline */
  outline: 0;
}
.IconButton > * {
  text-align: center;
  width: 100%;
}
.IconButton__svgWrapper {
  /* make a round circle */
  height: calc(var(--iconsize-m)+var(--padding-s));
  width: calc(var(--iconsize-m)+var(--padding-s));
  padding: var(--padding-s);
  border-radius: 1000px;
  /* center icon in circle */
  display: flex;
  align-items: center;
}
.IconButton__svgWrapper svg {
  height: var(--iconsize-m);
  width: var(--iconsize-m);
}
/* Label */
.IconButton__label {
  height: 0; /* so that only the circles are taken into account for when aligning */
  color: var(--fg-subtle);
  font-size: var(--fontsize-body-s);
}

/* INTERACTIONS */

.IconButton:hover > .IconButton__svgWrapper,
.IconButton:focus > .IconButton__svgWrapper {
  background-color: var(--bg-accent-hovered);
}
.IconButton:hover > .IconButton__svgWrapper svg,
.IconButton:focus > .IconButton__svgWrapper svg {
  color: var(--fg-accent);
}
.IconButton:hover > .IconButton__label,
.IconButton:focus > .IconButton__label {
  color: var(--fg-normal);
}

/* Simulate default outline around SVG only */
.IconButton:focus > .IconButton__svgWrapper {
  outline: var(--outline);
  outline-offset: var(--outline-offset);
}
